@import url("https://fonts.googleapis.com/css2?family=Belgrano&family=Brawler&family=Ysabeau+Infant:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
